<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>
<h3>Insights into store data:</h3>
<h4>Number of products: <span class="badge rounded-pill bg-primary text-dark"><%= @num_products%></span></h4>
<h4>Number of categories of products: <span class="badge rounded-pill bg-primary text-dark"><%= @num_category%></span></h4>
<h4>Number of categories: <span class="badge rounded-pill bg-primary text-dark"><%= @num_orders %></span></h4>