<header class="page-header">
<h1>About Us</h1>
</header>

<h3>Thank you for shopping with Eclectic Essentials!</h3>
<p>Browse around for whatever your heart desires. Don't let price define your life! Buy what you want! You only live once!</p>